@import "tailwindcss";

@font-face {
  font-family: "AlYermook";
  src: url("/fonts/ae_AlYermook-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Arabic";
  src: url("/fonts/Adobe-Arabic-SHIN-Typo-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "KoSans";
  src: url("/fonts/kosans-demo.regular.otf") format("opentype");
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Logirent";
  src: url("/fonts/Logirentdemo-Ea5y8.otf") format("opentype");
}

@font-face {
  font-family: "Cortoba";
  src: url("/fonts/ae_Cortoba-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Zarid";
  src: url("/fonts/29lt-zarid-serif-regular.ttf") format("truetype");
  font-weight: 400;
}


/* Then define your custom theme tokens (fonts, colors) using @theme syntax or in tailwind.config.js */
@theme {
  --color-dark-gray: #393c3d;
  --color-green: #016938;
  --color-custom-black: #070808;

  --font-sans: "Ubuntu", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;

  --font-alyermook: "AlYermook", sans-serif;
  --font-arabic: "Arabic", serif;
  --font-kosans: "KoSans", sans-serif;
  --font-logirent: "Logirent", sans-serif;
  --font-cortoba: "Cortoba", serif;
  --font-lato: "Lato", serif;
  --font-ubuntu: "Ubuntu", system-ui, sans-serif;
  --font-zarid: "Zarid", system-ui, serif;
}


/* Outline Text Utility */
.text-outline-white {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
}
.text-outline-black {
  color: transparent;
  -webkit-text-stroke: 1px #000;
  text-stroke: 1px #000;
}

/* global.css */
.text-outline-black {
  -webkit-text-stroke: 1px black;
  /* Outline thickness */
  color: white;
}

@keyframes slowZoom {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.bg-slow-zoom {
  animation: slowZoom 10s ease-in-out infinite;
  will-change: transform;
}

body {
  font-family: "Ubuntu", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  font-weight: 400; /* Regular */
}
