@import "tailwindcss";

@font-face {
  font-family: "AlYermook";
  src: url("/fonts/ae_AlYermook-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Arabic";
  src: url("/fonts/Adobe-Arabic-SHIN-Typo-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "KoSans";
  src: url("/fonts/kosans-demo.regular.otf") format("opentype");
}

@font-face {
  font-family: "Logirent";
  src: url("/fonts/Logirentdemo-Ea5y8.otf") format("opentype");
}

@font-face {
  font-family: "Cortoba";
  src: url("/fonts/ae_Cortoba-Regular.ttf") format("truetype");
}

/* Then define your custom theme tokens (fonts, colors) using @theme syntax or in tailwind.config.js */
@theme {
  --color-dark-gray: #393c3d;
  --color-green: #016938;
  --color-custom-black: #070808;

  /* Font families (can also define CSS variables for these) */
  --font-alyermook: "AlYermook", sans-serif;
  --font-arabic: "Arabic", serif;
  --font-kosans: "KoSans", sans-serif;
  --font-logirent: "Logirent", sans-serif;
  --font-cortoba: "Cortoba", serif;
}

/* Outline Text Utility */
.text-outline-white {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
}
.text-outline-black {
  color: transparent;
  -webkit-text-stroke: 1px #000;
  text-stroke: 1px #000;
}


/* global.css */
.text-outline-black {
  -webkit-text-stroke: 1px black;
  /* Outline thickness */
  color: white;
  /* Fill color */
}